/*.openerp .oe_kanban_view .oe_kanban_column {padding:5px 0px !important}*/
.oe_footer {display: none !important}

.openerp .oe_kanban_record .so-action a {margin:5px;padding:3px;clear:both;text-align: center;}

.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record {background-color: #fff ;border-radius: 2px !important;}

.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record > div{max-height: 100px;overflow-y: hidden}
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record > div:hover {max-height: initial;}

.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record > div > div {clear:both}
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record .info {min-height: 100px;display: block}
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record .info .summary {text-align: center;}
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record .info .summary .follow-up{font-weight:  bold;}
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record .info .summary .follow-up.internal{color:  #FF8888;}
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record .info .summary .follow-up.external{color:  #8888FF;}
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record .info span { clear:both }
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record .action {padding:5px 0px}
.openerp .oe_kanban_view .oe_kanban_record .info .oe_kanban_action_a {clear:both; display: block}
.openerp .oe-treeview-table tr{display: table-row}
.oe_kanban_record div {padding:2px 4px}
.oe_kanban_record .actions {text-align: center}
.oe_kanban_record .sale_order_kanban {line-height: 110%}
.oe_kanban_record .sale_order_kanban .field {margin-bottom: 5px;}

.oe_kanban_record .sale_order_kanban .so-info {float:left;width: 50%}
.oe_kanban_record .sale_order_kanban .so-action {float:right;width:100%}

.oe_kanban_record .sale_order_kanban .actions .invoices a {color:cadetblue} 
.oe_kanban_record .sale_order_kanban .actions .invoices[data-paid_rate='0'] a {color:red} 
.oe_kanban_record .sale_order_kanban .actions .invoices[data-paid_rate='100'] a {color:greenyellow} 

.oe_kanban_record .sale_order_kanban .actions .deliveries.false {}

.oe_kanban_record [data-age~='day'] {background-color: #ffffff  !important}
.oe_kanban_record [data-age~='week'] {background-color: #ff0000  !important}
.oe_kanban_record [data-age='2week'] {background-color: #ff8888  !important}
.oe_kanban_record [data-age='3week'] {background-color: #ff4444  !important}
.oe_kanban_record [data-age='4week'] {background-color: #ff2222  !important}

.oe_kanban_record [data-remaining$='day'] {background-color: #ff4444 ;text-decoration: blink}
.oe_kanban_record [data-remaining='1day'] {background-color: #ff0000 ;text-decoration: blink}
.oe_kanban_record [data-remaining$='week'] {background-color: #ffffff ;text-decoration: blink}
.oe_kanban_record [data-remaining='1week'] {background-color: #ff5555 ;text-decoration: blink}
.oe_kanban_record [data-remaining='2week'] {background-color: #ffaaaa ;text-decoration: blink}

.oe_kanban_record [data-paid_rate='full']{   border: 2px solid aquamarine !important}
.oe_kanban_record [data-paid_rate='half']{   border: 2px solid orange  !important}
.oe_kanban_record [data-paid_rate='unpaid']{ border: 2px solid red  !important}

.oe_kanban_record .sale_order_kanban[data-procurement_state='waiting_stock']{border: 1px dashed lightskyblue }
.oe_kanban_record .sale_order_kanban[data-procurement_state='ready_deliver']{border: 1px dashed lightsteelblue }
.oe_kanban_record .sale_order_kanban[data-procurement_state='delivered']{ border: 1px dashed blueviolet }


.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban .info {display:block}
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban .info .summary {margin-top: 10px}
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban #min_date {font-size:70%;font-weight: bold;padding-top: 3px; right: 3px;position: absolute }
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban .info .product-qty {clear:left}
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban .info .description {clear:right;}

.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban[data-priority='1'] {border:1px solid indianred;}
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban[data-priority='2'] {border:2px solid red;}
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban[data-priority='3'] {border:3px solid orange;}
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban[data-priority='4'] {border:4px solid brown;font-weight: bold}
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban[data-method='make_to_order'] {color:darkblue}
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban[data-method='make_to_stock'] {color:darkgreen}
.openerp .oe_kanban_view .oe_kanban_record .stock-picking-kanban pre {border-radius: 1px;background-color: initial !important;border:1px solid #ccc}



.openerp .oe_kanban_view .oe_kanban_record .invoice-kanban {
    
}

.openerp .oe_kanban_view .oe_kanban_record .invoice-kanban.out_invoice {
    border:2px solid red;
}
.openerp .oe_kanban_view .oe_kanban_record .invoice-kanban.out_invoice{
    border:2px solid blue;
}

.openerp .stock_detail_items .oe_list_content th[data-id$='quantity']{width: 200px}
.openerp .stock_detail_items td[data-field$='quantity'],
.openerp .stock_detail_items [data-fieldname$='quantity']{font-size: 30px;}
.openerp .stock_detail_items .oe_list_content th[data-id=image_small]{width: 100px}
.openerp .stock_detail_items .oe_list_content th[data-id=date]{width: 100px}
.openerp .stock_detail_items .oe_list_content th[data-id='note']{min-width: 200px}


.openerp .oe_searchview_drawer dd{margin-left: 0px;} 
.openerp .oe_searchview_drawer dt:nth-child(2n+1) {display: none}
.openerp .oe_searchview_drawer .col-md-7 {width: 100%}
.openerp .oe_searchview_drawer .col-md-5 {display: none}
.openerp .oe_searchview_drawer dd:nth-child(4) li {border-radius: 5px;font-weight: bold;background-color: black;color:silver}
.openerp .oe_list_content td{vertical-align: middle;}


.openerp .oe_button_box button.purchase div {display: inline-block;float:left}
.openerp .oe_button_box button.purchase span.oe_form_field {display: inline-block;width: auto;text-align: right}
.openerp .oe_button_box button.purchase span.oe_form_field:first-child():after{content:'\A';white-space: pre}

.openerp .oe_calendar_view .fc-event-title {display: inline-block;clear: both} 
.openerp .oe_content_full_screen #hide_leftbar {display: none;}
.openerp .oe_form div.oe_chatter {  
  display:none;
}