.hidden{display: none !important;}
.section{margin-top:70px;}
main.login {
    width: 100vw;
    height: 100vh;
    padding: 25vh 10vw;
    background: url(../img/bg.jpg);
}
.login-page {
    padding: 16px;
    background: rgba(255,255,255,0.5);
}
.login-page .text-center {
    margin: 0 0 18px;
}
.navbar-collapse.in {
    display: block;
}
#operations .card {
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 136%;
}
.pickings .pick-items {
    font-size: 14px;
    font-weight: normal;
}
.picking .jumbotron.jumbotron-fluid {
    margin-top: -14px;
}
.lead span{display: block}
.picking .pack .card .desc span {
    background: black;
    width: 100%;
    display: block;
    padding: 4px;
    text-align: center;
    color: white;
    font-size: 16px;
}
.picking .pack .card-title {
    font-size: 22px;
}
.picking .pack .card-footer input {
    text-align: center;
    font-size: 22px;
}
.picking .pack .serial .card-footer button {
    display: none;
}
.picking .pack .card.active {
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2), inset 0 0 0 1px #c02130;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2), inset 0 0 0 1px #c02130;
    border-color: #c02130!important;
}
.picking .pack .card.active .card-title {
    color: #c02130;
}
.picking .pack .card.active .card-footer {
    border-color: #c02130 !important;
}
.picking .pack .card.active .card-footer button {
    background-color: #c02130;
}
.picking .pack .card.active .card-footer {
    border-color: #c02130 !important;
}

.picking .pack .card.success .card-footer button {
    background-color: #c02130;
}
.picking .pack .card.success {
    border-color: #4caf50 !important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2), inset 0 0 0 1px #4caf50;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2), inset 0 0 0 1px #4caf50;
}
.picking .pack .card.success .card-title {
    color: #4caf50;
}
.picking .pack .card.success .card-footer {
    border-color: #4caf50 !important;
}
.picking .pack .card.success .card-footer button {
    background-color: #4caf50;
}


/*loading*/
.splash{
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    vertical-align: middle;
    position: absolute;
    top: 0px;
    text-align: center;
    line-height: 100vh;
}
.splash .group {
  position: relative;
  display: inline-block;
  line-height: 16px;
}

.splash .bigSqr {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation: bigSqrShrink 1s linear infinite;
          animation: bigSqrShrink 1s linear infinite;
}

.splash .square {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFF;
}

.splash .first {
  left: 0px;
  top: 20px;
}

.splash .second {
  left: 20px;
  top: 20px;
  -webkit-animation: drop2 1s linear infinite;
          animation: drop2 1s linear infinite;
}

.splash .third {
  left: 0px;
  top: 0px;
  -webkit-animation: drop3 1s linear infinite;
          animation: drop3 1s linear infinite;
}

.splash .fourth {
  left: 20px;
  top: 0px;
  -webkit-animation: drop4 1s linear infinite;
          animation: drop4 1s linear infinite;
}

.splash .text {
  line-height: 16px;
  font-family: "Open Sans", "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: #FFF;
  display: block;
  margin: 10px auto;
  padding: 3px;
}

@-webkit-keyframes bigSqrShrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes bigSqrShrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@-webkit-keyframes drop2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes drop3 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop3 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes drop4 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  75% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop4 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  75% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
